/*  Estilizações universais da pagina*//*181A1B*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width:5px;
  height: 5px;
}


::-webkit-scrollbar {
  width:5px;
  height: 5px;
}
   
::-webkit-scrollbar-track {
  background:#333;
}
  
::-webkit-scrollbar-thumb {
  background: black;
}
